body{
    margin:0;
    padding:0;
    background: #D68C7F;
}

.nombre .contenido .minombre {
    color: #564E49;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 45px;
}

.nombre .contenido .NumeroTelefonico {
    color: #564E49;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

.nombre .contenido .contacto {
    color: #564E49;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

.barra {
    width: 50%;
    height: 30px;
    right: 50%;
    color: #564E49;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}