body{
    margin:0;
    padding:0;
    background: #FFF6EF;
}

.conte {
    width: 100%;
    height: 300px;
    background: #D9B7B5;
}

.conte .contenido{
    width: 50%;
    height: 50px;
    position: absolute;
    left: 25%;
}
.conte .contenido .img {
    position: absolute;
    top: 5%;
    right: 12%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;

}

.conte .titulocyh h1{
    color: #564E49;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 50px;
}

.conte .titulocyh h2{
    color: #564E49;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 45px;
}


.cyh .conten{
    color: #564E49;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    width: 50%;
    height: 50px;
    position: absolute;
    left: 25%;
}

.cyh .conten .conoc h1{
    color: #d185a2;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

.cyh .conten .hab h1{
    color: #d185a2;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}