body{
    margin:0;
    padding:0;
    background: #e9a599;
}

.conte {
    width: 100%;
    height: 300px;
    background: #72b9b0;
}

.conte .contenido{
    width: 50%;
    height: 50px;
    position: absolute;
    left: 25%;
}

.barra {
    width: 50%;
    height: 30px;
    right: 50%;
    position: absolute;
    color: #564E49;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
