body{
    margin:0;
    padding:0;
    background: #FFF6EF;
}

.nombre {
    width: 100%;
    height: 300px;
    background: #D9B7B5;
}

.nomre .contenido{
    width: 50%;
    height: 50px;
    position: absolute;
    left: 25%;
}

.nomre .contenido .nombre {
    color: #766D66;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 65px;
}

.nomre .contenido .escolaridad {
    color: #766D66;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
}