body{
    margin:0;
    padding:0;
    background: #FFF6EF;
}

.nombre {
    width: 100%;
    height: 300px;
    background: #D9B7B5;
}

.nombre .contenido{
    width: 50%;
    height: 50px;
    position: absolute;
    left: 25%;
}

.nombre .contenido .minombre {
    color: #564E49;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 45px;
}

.nombre .contenido .infopersonal {
    color: #564E49;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

.barra {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 10%;
    color: #564E49;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

.conte .contenido h1 {
    color: #d185a2;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

.conte .contenido .minombre {
    color: #564E49;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.conte .contenido .NumeroTelefonico {
    color: #564E49;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.conte .contenido .contacto {
    color: #564E49;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.conte .contenido .datos {
    color: #564E49;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

